# ---------------------
# Environment Variables
# ---------------------
export JAVA_HOME=$(/usr/libexec/java_home)
export ANDROID_HOME=/usr/local/opt/android-sdk
export GROOVY_HOME=/usr/local/opt/groovy/libexec
export M2_HOME=/usr/local/opt/maven/libexec
export M2=$M2_HOME/bin
export ANT_HOME=/usr/local/opt/ant/libexec
export GRADLE_HOME=/usr/local/opt/gradle/libexec
export GOROOT=/usr/local/opt/go/libexec
export GOPATH=$HOME/DevProjects/go_workspace
export CATALINA_BASE=/usr/local/apache-tomcat-7.0.52
export CATALINA_HOME=/usr/local/apache-tomcat-7.0.52
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GRADLE_HOME
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/opt/gnu-sed/libexec/gnubin:$PATH
export PATH=/usr/local/opt/coreutils/libexec/gnubin:$PATH
export MANPATH=/usr/local/opt/coreutils/libexec/gnuman:$MANPATH
export PATH=$PATH:/users/cgalvan/desktop/ford/hero_copy/author/crx-quickstart/opt/filevault/vault-cli-3.1.6/bin
export PATH=$PATH:/usr/local/wadl-dist-1.1.6/bin/wadl2java
export PATH=/usr/local/heroku/bin:$PATH
export PATH="$PATH:$HOME/.rvm/bin"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';
